ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon

ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor

CURRENT_PROJECT_VERSION = 27

GENERATE_INFOPLIST_FILE = YES

INFOPLIST_FILE = EssentialApp/Info.plist

INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents = YES

INFOPLIST_KEY_UILaunchStoryboardName = LaunchScreen

INFOPLIST_KEY_UIMainStoryboardFile = 

INFOPLIST_KEY_UISupportedInterfaceOrientations = UIInterfaceOrientationPortrait

INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad = UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight

IPHONEOS_DEPLOYMENT_TARGET = 17.4

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks

MARKETING_VERSION = 1.0

PRODUCT_BUNDLE_IDENTIFIER = com.unownedself.EssentialApp

PROVISIONING_PROFILE_SPECIFIER = 

SUPPORTED_PLATFORMS = iphoneos iphonesimulator

SUPPORTS_MAC_DESIGNED_FOR_IPHONE_IPAD = NO

SUPPORTS_MACCATALYST = NO

SUPPORTS_XR_DESIGNED_FOR_IPHONE_IPAD = NO

SWIFT_EMIT_LOC_STRINGS = YES

TARGETED_DEVICE_FAMILY = 1

VERSIONING_SYSTEM = apple-generic
