<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B465FC02C42C18200AD94A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BE908552C306283001BA094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BE9086B2C306284001BA094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BE908752C306284001BA094</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
