#include "../../xcconfig/Shared.xcconfig"

CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES

CURRENT_PROJECT_VERSION = 1

DEAD_CODE_STRIPPING = YES

GCC_C_LANGUAGE_STANDARD = gnu11

MACOSX_DEPLOYMENT_TARGET = 13.3

SDKROOT = macosx

SWIFT_EMIT_LOC_STRINGS = YES

VERSION_INFO_PREFIX =

TARGETED_DEVICE_FAMILY = 1
